<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Change password - Basket</title>
        <meta charset="UTF-8">
        <script type="text/javascript" src="../static/js/change_password.js?0"></script>
        <script type="text/javascript" src="../static/js/utils.js?0"></script>
    </head>
    <body>
        <!--Header-->
        <div>
            <button onclick="go_home()">Home</button>
            <button onclick="logout()">Logout</button>
        </div>
        <label>
            <span>Current Password: </span>
            <input type="password" id="cpwd" />
            <br>
            <span>New Password: </span>
            <input type="password" id="npwd" />
            <br>
            <span>Verify Password: </span>
            <input type="password" id="vpwd" />
        </label>
        <br>
        <button onclick="change_password()">Change Password</button>
    </body>
</html>
